body {
  font: 14px Helvetica, arial, freesans, clean, sans-serif;
  margin: 0;
}
.clear {
  clear: both;
}
.container {
  width: 720px;
  margin: auto;
}
header  {
  background-color: #3371A2;
  height: 160px;
}
header .logo {
  margin: 10px 10px 10px 0;
  float: left;
}
header nav {
}
header nav li {
  display: inline;
}
header nav li a {
  color: #eee;
  background-color: #333;
  padding: 10px;
  text-decoration: none;
}
header nav li a:hover {
  background-color: #111;
}
.main-nav {
  clear: right;
  float: left;
  width: 360px;
}
.nav-right {
  clear: right;
  float: right;
  width: 200px;
  text-align: right;
}
nav ul {
  margin: 0;
  padding: 0;
}

footer .container {
  border-top: 1px solid #ddd;
  padding: 10px 0;
  color: #444;
}
.content {
  padding: 10px 0;
}
.logo-container {
  width: 140px;
  float: left;
}
.header-container {
  width: 600px;
  margin-left: 140px;
  height: 140px;
  padding: 10px;
}