<!DOCTYPE html>
<html>
<head>
  <title>{{title}} {{SITE_NAME}}</title>
  <!-- TODO: META -->
  <!-- TODO: Open Graph Post -->
  <!-- TODO: Twitter Card Summaries -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <a href="/">
        <img src="http://files.ryc.org.uk/files/images/logo/ryclogo3.png" class="logo" style="height:140px;width:140px;">
      </a>
      <h1 style="display:none;">Romsey Youth Council</h1>
      <div class="adspace"><img src="http://placehold.it/570x100&text=Event+ad/Twitter Ticker"></div>
      <nav class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/beggarsfair">Beggars Fair</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </nav>
      <nav class="nav-right">
        <li><a href="https://twitter.com/RomYouCou">Twitter</a></li>
        <li><a href="https://facebook.com/RomYouCou">Facebook</a></li>
      </nav>
      <div class="clear"></div>
    </div>
  </header>
  <div class="container content">
    {{content}}
  </div>
  <footer>
    <div class="container">
      <span style="float:right;">Built by <a href="http://bensbit.co.uk">Ben Evans</a></span>
      &copy; Romsey Youth Council 2013
    </div>
  </footer>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" onload="onJQuery();" defer></script>
  <script type="text/javascript">
  function onJQuery() {
    $(function() {
       // $('.adspace').html('<div style="color:#111;background-color:#eee;height: 100%;padding:10px;-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */  -moz-box-sizing: border-box;    /* Firefox, other Gecko */  box-sizing: border-box;         /* Opera/IE 8+ */">Lol</span>');
    });
  }
  </script>
</body>
</html>